<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
</head>
<body>
    <header>
		<img src="../static/logo.svg" alt="логотип вашего приложения">
		<h1>Такой страницы не существует</h1>
	</header>
    <main>
        <h2>Вы можете перейти</h2>

	</main>
	<footer>
		<p>© Все права защищены компанией Нериэлт</p>
	</footer>
</body>
</html>